Node-red.txt
[{"id":"ac6430a9.310cd","type":"tab","label":"Home","disabled":false,"info":""},{"id":"408b5a44.a912b4","type":"tab","label":"Energy","disabled":false,"info":""},{"id":"5a1c636e.8ce35c","type":"tab","label":"MPU6500","disabled":false,"info":""},{"id":"29cc50d3.68ed5","type":"mqtt-broker","z":"","name":"Test","broker":"192.168.178.110","port":"1883","clientid":"esp8266","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cbd24fbf.797d3","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.110","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"baad48b1.aba078","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10cd438.36b3abd","type":"mqtt-broker","z":"","name":"Test","broker":"192.168.178.110","port":"1883","clientid":"esp8266","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f84dab46.c21578","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1629c90.95dc5","type":"ui_tab","z":"","name":"TEMP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e6aa755f.2421e8","type":"ui_group","z":"","name":"Room 1","tab":"b1629c90.95dc5","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd08f155.835d9","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.110","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7a07b98.2e4478","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5cb77aec.e31304","type":"ui_tab","z":"","name":"Energy","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d974c6a4.ed8fc8","type":"ui_group","z":"","name":"Energy","tab":"5cb77aec.e31304","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd436691.33eca8","type":"ui_tab","z":"","name":"MPU","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"faee9bdd.b774e8","type":"ui_group","z":"","name":"MPU","tab":"cd436691.33eca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a02af52f.6dfc18","type":"ui_group","z":"","name":"Acceleration","tab":"cd436691.33eca8","order":2,"disp":true,"width":"6","collapse":true},{"id":"78174e9e.510cb","type":"ui_group","z":"","name":"Gyroscope","tab":"cd436691.33eca8","order":3,"disp":true,"width":"6","collapse":true},{"id":"9c04724b.6d9df","type":"ui_gauge","z":"408b5a44.a912b4","name":"","group":"d974c6a4.ed8fc8","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":140,"wires":[]},{"id":"ab8240ee.17b1e","type":"ui_gauge","z":"408b5a44.a912b4","name":"","group":"d974c6a4.ed8fc8","order":3,"width":0,"height":0,"gtype":"gage","title":"Power","label":"Kw","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":440,"wires":[]},{"id":"225de531.fca17a","type":"ui_gauge","z":"408b5a44.a912b4","name":"","group":"d974c6a4.ed8fc8","order":4,"width":0,"height":0,"gtype":"gage","title":"kWhValue","label":"Luminosity","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":600,"wires":[]},{"id":"875ad5e2.c47ac8","type":"mqtt in","z":"ac6430a9.310cd","name":"","topic":"esp/dht/temperature","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":230,"y":200,"wires":[["639412ad.09ee0c"]]},{"id":"57abb1e6.01fb7","type":"ui_gauge","z":"ac6430a9.310cd","name":"","group":"e6aa755f.2421e8","order":1,"width":0,"height":0,"gtype":"donut","title":"TEMP ","label":"units","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":160,"wires":[]},{"id":"c259d925.f8e088","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"a02af52f.6dfc18","order":3,"width":0,"height":0,"gtype":"gage","title":"Z","label":"","format":"{{value}}","min":"-20000","max":"+20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":540,"wires":[]},{"id":"eab67c8c.37cd","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"a02af52f.6dfc18","order":2,"width":0,"height":0,"gtype":"gage","title":"Y","label":"","format":"{{value}}","min":"-20000","max":"+20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":380,"wires":[]},{"id":"57645f8a.cafb8","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"78174e9e.510cb","order":3,"width":0,"height":0,"gtype":"gage","title":"Z","label":"","format":"{{value}}","min":"-20000","max":"+20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":1020,"wires":[]},{"id":"d879c9c9.dba9e8","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"78174e9e.510cb","order":2,"width":0,"height":0,"gtype":"gage","title":"Y","label":"","format":"{{value}}","min":"-20000","max":"+20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":860,"wires":[]},{"id":"80d55467.55e5c8","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"a02af52f.6dfc18","order":1,"width":0,"height":0,"gtype":"gage","title":"X","label":"","format":"{{value}}","min":"-20000","max":"+20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"e5a93723.6a4708","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"faee9bdd.b774e8","order":1,"width":0,"height":0,"gtype":"gage","title":"TEMP ","label":"units","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":80,"wires":[]},{"id":"3d7bae58.d4e592","type":"ui_gauge","z":"5a1c636e.8ce35c","name":"","group":"78174e9e.510cb","order":2,"width":0,"height":0,"gtype":"gage","title":"X","label":"","format":"{{value}}","min":"-20000","max":"+20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":720,"wires":[]},{"id":"639412ad.09ee0c","type":"function","z":"ac6430a9.310cd","name":"","func":"x = msg.payload;\ny =flow.get('count')||0;\nflow.set('count',x);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[[]]},{"id":"9f114a61.4b88b8","type":"inject","z":"ac6430a9.310cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["d4f8c9fb.db7668"]]},{"id":"d4f8c9fb.db7668","type":"function","z":"ac6430a9.310cd","name":"","func":"g = flow.get('count');\nmsg.payload = g;\nflow.set('count', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["57abb1e6.01fb7"]]},{"id":"856a69a0.f6a068","type":"mqtt in","z":"ac6430a9.310cd","name":"","topic":"esp/dht/humidity","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":220,"y":360,"wires":[["eb35349c.9ae168"]]},{"id":"eb35349c.9ae168","type":"function","z":"ac6430a9.310cd","name":"","func":"x = msg.payload;\ny =flow.get('count1')||0;\nflow.set('count1',x);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[[]]},{"id":"beafbeeb.4f264","type":"inject","z":"ac6430a9.310cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":300,"wires":[["74999242.91cc0c"]]},{"id":"74999242.91cc0c","type":"function","z":"ac6430a9.310cd","name":"","func":"g = flow.get('count1');\nmsg.payload = g;\nflow.set('count1', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["d4a99c0a.ecba"]]},{"id":"d4a99c0a.ecba","type":"ui_gauge","z":"ac6430a9.310cd","name":"","group":"e6aa755f.2421e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":300,"wires":[]},{"id":"b116e126.7f60d","type":"mqtt in","z":"ac6430a9.310cd","name":"","topic":"esp8266/ldr","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":210,"y":520,"wires":[["ba0b1ee8.7be2b"]]},{"id":"ba0b1ee8.7be2b","type":"function","z":"ac6430a9.310cd","name":"","func":"x = msg.payload;\ny =flow.get('count2')||0;\nflow.set('count2',x);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":520,"wires":[[]]},{"id":"2bb3bbde.539f94","type":"inject","z":"ac6430a9.310cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":460,"wires":[["5ebfd29.a03592c"]]},{"id":"5ebfd29.a03592c","type":"function","z":"ac6430a9.310cd","name":"","func":"g = flow.get('count2');\nmsg.payload = g;\nflow.set('count2', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["4b3fc5de.43f70c"]]},{"id":"15114edf.51eed1","type":"mqtt in","z":"408b5a44.a912b4","name":"","topic":"energy/voltage","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":200,"y":180,"wires":[["e4ddf876.fe9d98"]]},{"id":"e4ddf876.fe9d98","type":"function","z":"408b5a44.a912b4","name":"","func":"x = msg.payload;\ny =flow.get('count3')||0;\nflow.set('count3',x);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[[]]},{"id":"b894092e.307198","type":"inject","z":"408b5a44.a912b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":140,"wires":[["d155351a.687f58"]]},{"id":"d155351a.687f58","type":"function","z":"408b5a44.a912b4","name":"","func":"g = flow.get('count3');\nmsg.payload = g;\nflow.set('count3', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["9c04724b.6d9df"]]},{"id":"47c2fc11.cb5fe4","type":"mqtt in","z":"408b5a44.a912b4","name":"","topic":"energy/power","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":190,"y":500,"wires":[["c7f6ff4d.c3bec"]]},{"id":"c7f6ff4d.c3bec","type":"function","z":"408b5a44.a912b4","name":"","func":"x = msg.payload;\ny =flow.get('count5')||0;\nflow.set('count5',x);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[[]]},{"id":"ee6ecadc.c6a488","type":"inject","z":"408b5a44.a912b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":440,"wires":[["47b9b2dc.fb6dbc"]]},{"id":"47b9b2dc.fb6dbc","type":"function","z":"408b5a44.a912b4","name":"","func":"g = flow.get('count5');\nmsg.payload = g;\nflow.set('count5', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["ab8240ee.17b1e"]]},{"id":"640cc67d.df17b8","type":"mqtt in","z":"408b5a44.a912b4","name":"","topic":"energy/khw","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":150,"y":660,"wires":[["e8737a13.1d1a18"]]},{"id":"e8737a13.1d1a18","type":"function","z":"408b5a44.a912b4","name":"","func":"x = msg.payload;\ny =flow.get('count6')||0;\nflow.set('count6',x);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":660,"wires":[[]]},{"id":"2866db49.09db64","type":"inject","z":"408b5a44.a912b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":600,"wires":[["555f2b2b.4075b4"]]},{"id":"555f2b2b.4075b4","type":"function","z":"408b5a44.a912b4","name":"","func":"g = flow.get('count6');\nmsg.payload = g;\nflow.set('count6', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["225de531.fca17a"]]},{"id":"b480cfa8.679fd","type":"ui_gauge","z":"408b5a44.a912b4","name":"","group":"d974c6a4.ed8fc8","order":2,"width":0,"height":0,"gtype":"gage","title":"Current","label":"mA","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":300,"wires":[]},{"id":"c5efb71c.c48868","type":"mqtt in","z":"408b5a44.a912b4","name":"","topic":"energy/current","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":190,"y":340,"wires":[["7211d607.8b1a88"]]},{"id":"7211d607.8b1a88","type":"function","z":"408b5a44.a912b4","name":"","func":"x = msg.payload;\ny =flow.get('count4')||0;\nflow.set('count4',x);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["b480cfa8.679fd"]]},{"id":"85729465.93ea98","type":"inject","z":"408b5a44.a912b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":300,"wires":[["7806ef1f.53a6e"]]},{"id":"7806ef1f.53a6e","type":"function","z":"408b5a44.a912b4","name":"","func":"g = flow.get('count4');\nmsg.payload = g;\nflow.set('count4', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[[]]},{"id":"2654f865.83fe18","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/temp","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":200,"y":120,"wires":[["67cf8b9a.cc1a04"]]},{"id":"67cf8b9a.cc1a04","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count7')||0;\nflow.set('count7',x);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[[]]},{"id":"96a475ae.e7a888","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":80,"wires":[["5ad9f358.0a11ec"]]},{"id":"5ad9f358.0a11ec","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count7');\nmsg.payload = g;\nflow.set('count7', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["e5a93723.6a4708"]]},{"id":"1ccf99c.6065966","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/ay","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":190,"y":440,"wires":[["e1a64575.851e18"]]},{"id":"e1a64575.851e18","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count9')||0;\nflow.set('count9',x);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[[]]},{"id":"1b04c7f7.c11158","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":380,"wires":[["7c67fb0e.0da1b4"]]},{"id":"7c67fb0e.0da1b4","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count9');\nmsg.payload = g;\nflow.set('count9', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["eab67c8c.37cd"]]},{"id":"227a6a8b.105146","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/az","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":150,"y":600,"wires":[["a5b72a9.833cdd8"]]},{"id":"a5b72a9.833cdd8","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count10')||0;\nflow.set('count10',x);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":600,"wires":[[]]},{"id":"f44bc7b8.e14b48","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":540,"wires":[["e270bc38.de7b7"]]},{"id":"e270bc38.de7b7","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count10');\nmsg.payload = g;\nflow.set('count10', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[["c259d925.f8e088"]]},{"id":"6f0d00ce.010ad","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/ax","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":190,"y":280,"wires":[["5230cbae.9e44f4"]]},{"id":"5230cbae.9e44f4","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count8')||0;\nflow.set('count8',x);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[[]]},{"id":"ab3ac72c.62eab8","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":240,"wires":[["4cc74b6c.4daf34"]]},{"id":"4cc74b6c.4daf34","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count8');\nmsg.payload = g;\nflow.set('count8', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["80d55467.55e5c8"]]},{"id":"d6610d19.4dcdb","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/gy","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":170,"y":920,"wires":[["5e5000b9.f4048"]]},{"id":"5e5000b9.f4048","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count12')||0;\nflow.set('count12',x);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[[]]},{"id":"2e9a1f4e.2813a","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":860,"wires":[["4ea9fe7d.7909c"]]},{"id":"4ea9fe7d.7909c","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count12');\nmsg.payload = g;\nflow.set('count12', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":860,"wires":[["d879c9c9.dba9e8"]]},{"id":"e25aef04.f0218","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/gz","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":130,"y":1080,"wires":[["888f349.eedfec8"]]},{"id":"888f349.eedfec8","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count13')||0;\nflow.set('count13',x);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1080,"wires":[[]]},{"id":"8cd8b4cc.88e318","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1020,"wires":[["38c59979.f27446"]]},{"id":"38c59979.f27446","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count13');\nmsg.payload = g;\nflow.set('count13', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1020,"wires":[["57645f8a.cafb8"]]},{"id":"cc23ec6b.e71e7","type":"mqtt in","z":"5a1c636e.8ce35c","name":"","topic":"mpu6500/gx","qos":"1","datatype":"auto","broker":"fd08f155.835d9","x":170,"y":760,"wires":[["7b094eec.af105"]]},{"id":"7b094eec.af105","type":"function","z":"5a1c636e.8ce35c","name":"","func":"x = msg.payload;\ny =flow.get('count11')||0;\nflow.set('count11',x);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[[]]},{"id":"a9aabe3d.56e3a","type":"inject","z":"5a1c636e.8ce35c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":720,"wires":[["45416f30.80ab9"]]},{"id":"45416f30.80ab9","type":"function","z":"5a1c636e.8ce35c","name":"","func":"g = flow.get('count11');\nmsg.payload = g;\nflow.set('count11', \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["3d7bae58.d4e592"]]},{"id":"4b3fc5de.43f70c","type":"ui_gauge","z":"ac6430a9.310cd","name":"","group":"e6aa755f.2421e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Luminosity","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":460,"wires":[]}]